@using lab01.Models
@model IEnumerable<lab01.Models.JugadorModel>

@{
    ViewBag.Title = "Index";
}

<h2>Jugadores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Club)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="datafile" />
        <input type="submit" value="Importar_Archivo" />
    }
    @if (Model.Count() > 0)
    {
        <hr />
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Posicion</th>
                <th>Club</th>
                <th>Salario</th>
            </tr>
            @foreach (JugadorModel jugadores in Model)
            {
                <tr>
                    <td>
                        @jugadores.Nombre</td>
                    <td>@jugadores.Apellido</td>
                    <td>@jugadores.Posicion</td>
                    <td>@jugadores.Club</td>
                    <td>@jugadores.Salario</td>
                </tr>
            }
        </table>
    }

</body>